*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: sans-serif;
    
}
.container{
    background-color: #F1F1F1;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
}
.btn-container{
    text-align: center;
    padding: 30px 0;
}
.btn-container button {
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    margin: 0px 5px;
    font-size: 17px;
    font-weight: 200;
    cursor: pointer;
}
.btn-container button:hover{
    background-color:  #ddd;
} 
.btn-container button.active{
    background: #666;
    color: #fff;
}

.row{
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin: auto;
}
.column{
    flex: 30%;
    margin: 10px 10px;
    background-color: #fff;
    /* display: none; */
}
.show{
    display: block;
}
.content{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 350px;
}
.content img{
    width: 100%;
    display: block;
}
.content h3{
    padding: 20px 0;
}
