*{
    margin: 0;
    box-sizing: border-box;
}
.img-grid-layout-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:4px 0px 0px 8px;
}
.column{
    flex: 25%;
    padding: 0 4px;
}
.column img{
    width: 100%;
    padding: 2px 0;
}
@media (max-width: 500px) {

    .img-grid-layout-container{
        flex-direction: column;
        margin:0;
    }
    .column{
        flex: 100%;
        padding: 0px;
    }
}
@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}