*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.tab{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.tab img {
    width: 100%;
    cursor: pointer;
}
.tab img:hover {
    opacity: 0.6;
}
.gallery{
    display: none;
}
.gallery img{
    width: 100%;
}
.closeBtn{
    cursor: pointer;
}
